{{define "body"}}
<div class="bg-zinc-800 pb-12 rounded-md shadow-md w-full h-full">
    <h1 class="text-2xl p-6 border-b border-zinc-700 mb-8">{{.Title}}</h1>
    <div class="px-6">
        {{.Ingredients}}
    </div>
</div>
{{end}}
