{{define "navigation"}}
<div class="px-4 py-4 bg-zinc-800 w-full flex items-center justify-between">
    <div class="flex gap-6 items-center">
        <img class="w-8" src="/static/icons/logo.svg" alt="Meals-logo" />
        <nav class="flex gap-6">
            <a class="hover:text-slate-400" href="/planner">Planner</a>
            <a class="hover:text-slate-400" href="/meals">Meals</a>
            <a class="hover:text-slate-400" href="/ingredients">Ingredients</a>
            <a class="hover:text-slate-400" href="/tags">Tags</a>
        </nav>
    </div>
    <nav class="flex gap-6">
        <a class="hover:text-slate-400" href="/account">My Account</a>
        <a class="text-red-400 hover:text-red-600" href="/logout">Logout</a>
    </nav>
</div>
{{end}} 
