{{define "body"}}
<div class="bg-zinc-800 p-6 rounded-md shadow-md w-full h-full">
    <h1 class="text-xl mb-6">Create a Meal</h1>
    <form method="post" action="/meals/create" class="mb-0">
        <div class="flex flex-col gap-2 mb-4">
            <label class="text-sm text-slate-300" for="name">name</label>
            <input class="py-2 px-1.5 rounded bg-zinc-700 ring-1 ring-zinc-400 w-[250px]" type="text" name="name"
                value="{{.Form.Name}}" />
            {{if .Form.Errors.Name}}<div class="text-sm text-red-400">{{.Form.Errors.Name}}</div>{{end}}
        </div>
        <div class="flex flex-col gap-2 mb-4">
            <label class="text-sm text-slate-300" for="notes">notes</label>
            <textarea class="rounded bg-zinc-700 ring-1 ring-zinc-400 w-[400px] min-h-[100px]" name="notes">{{.Form.Notes}}</textarea>
        </div>
        <div class="flex flex-col gap-3">
            <h2 class="border-b text-lg py-3">Attributes</h2>
            <label class="flex gap-2">
                <input type="checkbox" name="quick" value="1" />
                <span>quick</span>
            </label>
            <label class="flex gap-2">
                <input type="checkbox" name="easy" value="1" />
                <span>easy</span>
            </label>
            <label class="flex gap-2">
                <input type="checkbox" name="family" value="1" />
                <span>family</span>
            </label>
        </div>
        <div id="ingredients" class="flex flex-col gap-3 mb-4">
            <div class="border-b flex items-center justify-between">
                <h2 class="text-lg py-3">Ingredients</h2>
                <button class="py-2 px-1.5 rounded-md bg-cyan-800 hover:bg-cyan-900 transition-colors w-auto" type="button" onclick="addIngredient()">Add ingredient</button>
            </div>
            {{if .Form.Errors.Ingredients}}<div class="text-sm text-red-400">{{.Form.Errors.Ingredients}}</div>{{end}}
            {{range $i, $ingredient := .Form.Ingredients}}
            <meal-ingredient
                data-index="{{$i}}"
                data-name="{{$ingredient.Name}}"
                data-quantity="{{$ingredient.Quantity}}"
                data-unit="{{$ingredient.Unit}}"
            ></meal-ingredient>
            {{end}}
        </div>
        <button class="py-2 px-1.5 rounded-md bg-cyan-800 hover:bg-cyan-900 transition-colors w-auto"
            type="submit">Create</button>
    </form>
</div>
<template id="ingredient-template">
    <div class="flex items-center gap-4 wrap">
        <div class="flex flex-col gap-2">
            <label class="text-sm text-slate-300" for="notes">name</label>
            <input name="ingredientName" class="name | py-2 px-1.5 rounded bg-zinc-700 ring-1 ring-zinc-400 w-[250px]" />
        </div>
        <div class="flex flex-col gap-2">
            <label class="text-sm text-slate-300" for="notes">quantity</label>
            <input name="ingredientQuantity" class="quantity | py-2 px-1.5 rounded bg-zinc-700 ring-1 ring-zinc-400 w-[250px]" />
        </div>
        <div class="flex flex-col gap-2">
            <label class="text-sm text-slate-300" for="notes">unit</label>
            <input name="ingredientUnit" class="unit | py-2 px-1.5 rounded bg-zinc-700 ring-1 ring-zinc-400 w-[250px]" />
        </div>
        <label class="flex gap-2 self-end">
            <input type="radio" name="isMain" />
            <span>Main Ingredient</span>
        </label>
        <button class="remove-ingredient | py-2 px-1.5 rounded-md bg-cyan-800 hover:bg-cyan-900 transition-colors w-auto self-end">remove</button>
    </div>
</template>

<script>
function addIngredient() {
    const node = document.createElement('meal-ingredient')
    const ingredientCount = document.querySelectorAll('meal-ingredient').length

    node.dataset.index = ingredientCount

    document.getElementById('ingredients').append(node)
}

customElements.define(
    'meal-ingredient',
    class extends HTMLElement {
        constructor() {
            super()
        }

        connectedCallback() {
            const template = document.getElementById(
                "ingredient-template",
            ).content.cloneNode(true)

            const index = this.getAttribute('data-index')

            const nameEl = template.querySelector('.name')

            nameEl.value = this.getAttribute('data-name')
            template.querySelector('.quantity').value = this.getAttribute('data-quantity')
            template.querySelector('.unit').value = this.getAttribute('data-unit')
            template.querySelector('[name="isMain"]').value = index
            template.querySelector('.remove-ingredient').onclick = () => {
                document.querySelector('meal-ingredient[data-index="' + index + '"]').remove()
            }

            this.appendChild(template)
        }
    }
)
</script>
{{end}}
